.inicio {
  background-color: aliceblue;
}

.h1 {
  font-family: "Raleway", sans-serif;
}

.text-center {
  text-align: initial !important;
  margin-top: 10px;
  margin-left: 10px;
}

.text-secondary {
  color: white !important;
}

.container {
  height: 800px;
  width: auto;
  max-width: 100%;
  position: relative;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-left: 15px;
  margin-right: 20px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-right: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-top: -5px;
}

.img-background {
  object-fit: cover;
  width: 100%;
  height: 106vh;
  position: absolute;
  margin-top: -10px;
}

p {
  font-size: 20px;
}

style de chef .align-items-stretch {
  align-items: stretch !important;
}

.d-flex {
  display: flex !important;
}
.cardServices {
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
  padding: 24px;
  text-align: center;
  margin-bottom: 24px;
}
.col-md-6 {
  width: 24.666667%;
  margin-left: 205px;
}

.chef-desc {
  margin: 9px 15px 0px 60px;
}
.bodega-desc {
  margin: 9px 15px 0px 60px;
}
.order__state {
  width: 150px !important;
}

/*RECEPCIONISTA*/
.recepcionista {
  display: flex;
}
.mesas {
  width: 2000px;
  margin-right: -460px;
  margin-left: 40px;
}
.reserva {
  width: 2000px;
}

#recepcionista label {
  margin-right: 10px;
}

#recepcionista button {
  margin-bottom: 10px;
}
#recepcionista input {
  height: 20px;
}

/*HOME*/

#home button {
  margin-top: 20px;
  margin-left: 40px;
}
#home h1 {
  margin-left: 30px;
}
.title-home {
  background-color: rgb(168, 233, 233);
  height: 100px;
  margin-bottom: 20px;
}
